<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kallz2u">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:node="remove" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/k2ulogo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_policy"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/k2ulogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Help_Me"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- <activity -->
        <!-- android:name=".activites.DashBoardActivity" -->
        <!-- android:exported="false"> -->
        <!-- </activity> -->
        <activity android:name=".activites.UrgentEventActivity" />
        <activity android:name=".activites.NonUrgentEventActivity" />
        <activity android:name=".activites.FourthActivity" />
        <activity
            android:name=".activites.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activites.DashBoardActivity" />
        <activity android:name=".activites.Activity1" />
        <activity android:name=".activites.ThirdActivity" />
        <activity android:name=".activites.FifthActivity" />
        <activity android:name=".activites.MymessageActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.kallz2u.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>

        <service
            android:name="com.example.kallz2u.firebase.MessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/red" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_notification_channel_id" />
    </application>

</manifest>